body {
    margin: 0;
    background-color: rgb(146, 127, 255);
    font-family: "Audiowide", sans-serif;
    text-align: center;
}
span {
    color: white;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0 ;
}
.text {
    margin-top: 100px;
    margin-bottom: 50px;
}
.container {
    height: 500px;
    width: 50%;
    display: inline-block;
    margin-top: 15px;
    background: rgba( 255, 255, 255, 0.30 );
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}
a {
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
}
.link-to-top {
    margin: 100px;
}
.footer {
    background-color: grey;
    padding: 15px;
    width: 100%;
    bottom: 0;   
}
.copyright {
    text-align: center;
}
.logo {
    text-align: center;
}
.logo a {
    text-decoration: none;
}
img {
    height: 40px;
}

