body {
    margin: 0;
    background-color: rgb(146, 127, 255);
    font-family: "Audiowide", sans-serif;
    text-align: center;
}
li a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    margin-left: 10px;
    border-bottom: 2px solid white;
}
li a:hover {
    color: rgb(0, 140, 255);
}
li {
    display: inline;
}
ul {
    margin-top: 20px;
}
.box-name {
    color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1 {
    color: black;
}
.text {
    margin-left: 100px;
}
.profile-picture {
    border-radius: 20px;
    height: 368px;
    width: 276px;
    background-color: aqua;
    background-image: url(/img/profilePic.jpg);
}
.footer {
    background-color: grey;
    padding: 15px;
    width: 100%;
    bottom: 0;   
}
.copyright {
    text-align: center;
}
.logo {
    text-align: center;
}
.logo a {
    text-decoration: none;
}
img {
    height: 40px;
}

